@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Inter:wght@300;400;500&display=swap");

:root {
  --brand-blue: #44466d;
  --brand-red: #e91e24;
  --brand-orange: #ea7b22;
  --brand-gold: #edb11d;
  --brand-yellow: #e9e316;
  --trans-white: #dcdcdce6;

  --font-main: "Inter", sans-serif;
  --font-fancy: "Beth Ellen", cursive;

  --body-copy: 400 18px/30px "Inter", sans-serif;
  --header: 58px/72px var(--font-fancy);
  --subheader: 500 36px var(--font-main);
  --med-title: 500 34px var(--font-main);
  --button: 14px var(--font-main);
}
