@import url(./brand.css);

* {
  font-family: var(--font-main);
}

p {
  font: var(--body-copy);
}

h1,
h2 {
  font: var(--header);
  color: var(--brand-blue);
  margin-bottom: 20px;
}

h3 {
  font: var(--subheader);
}

h4 {
  font: var(--med-title);
}

h5 {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 20px;
}

.page-hidden {
  display: none;
}

.white-background {
  background-color: var(--trans-white);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.indented li {
  margin-left: 40px;
  list-style-type: disc;
  font: var(--body-copy);
}

.body-content {
  width: 100%;
  max-width: 1050px;
  padding: 0 50px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.img-half {
  display: flex;
  align-items: stretch;
}

.img-half img {
  width: calc(50% - 50px);
}

.content-half {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.large-img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.large-img-container h2 {
  margin-bottom: 20px;
}

.large-img-container ul {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.large-img-container button {
  margin-top: 40px;
}

.large-img-container li {
  list-style: disc;
  margin-left: 20px;
}

.large-img-section-right {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: start;
  padding: 15px;
}

.large-img-section-left {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: start;
  padding: 15px;
}

.large-img-right {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  max-width: 100%;
}

.large-img-left {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  max-width: 100%;
}

.center-text {
  text-align: center;
}

.three-col-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  gap: 50px;
}

.img-third {
  max-width: 29%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.border-bottom {
  border-bottom: 3px solid black;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/* header and navigation */

#main-nav {
  position: sticky;
  top: 0;
  z-index: 5;
}

#main-nav ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--brand-blue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  align-self: flex-start;
}

#main-nav ul a {
  display: block;
  padding: 12px 8px;
  text-transform: uppercase;
  color: var(--trans-white);
  font: var(--body-copy);
}

#pg-head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 0;
  gap: 20px;
}

#pg-head a {
  color: var(--brand-blue);
  font-size: 30px;
}

.acronym {
  font-family: var(--font-fancy);
  font-size: 40px;
}

.lite {
  font-weight: 300;
}

#header-logo {
  height: 100px;
}

/* home */

.carousel-content {
  width: 100%;
  max-width: 1050px;
  padding: 0 50px;
  margin: auto;
  height: 350px;
  display: flex;
  align-items: center;
}

.carousel-content div {
  max-width: 11em;
  padding: 15px;
}

.carousel-content p {
  margin-bottom: 25px;
  line-height: 1.2em;
}

#carousel .image-container {
  background-size: cover;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}
.carousel-controls button {
  background-color: transparent;
  border: none;
}

/* about */

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.person-card {
  width: 30%;
}

.person-img {
  max-width: 100%;
  height: auto;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 8px;
  position: relative;
}

.info-container::after {
  content: "";
  width: 95px;
  display: block;
  border-bottom: 2px solid black;
  position: absolute;
  bottom: 0;
}

.email-icon {
  height: 28px;
}

.duties {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

/* projects */

.teams-list-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.teams-container {
  display: flex;
  justify-content: space-between;
}

.teams-container ul {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  width: 700px;
  border-left: 2px solid black;
}

.teams-container li a {
  display: block;
}

.teams-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.team-name {
  background-color: var(--brand-blue);
  color: var(--trans-white);
  font: var(--med-title);
  display: block;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  position: relative;
  transform: translateY(-50%);
}

/* team */

.intro-container .fullpage {
  padding: 50px;
  filter: blur(6px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.team-intro {
  background-color: var(--trans-white);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 30px auto;
  width: 100%;
  max-width: 1050px;
  padding: 0 50px;
  position: relative;
}

.intro-container {
  position: relative;
}

/* help */

.mid-width-section {
  padding: 10px 150px;
}

.mid-width-section p {
  font-size: 1.4em;
  line-height: 1.6;
}

.action-teams-container ul {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: stretch;
}

.action-teams-container ul li {
  width: 100%;
  max-width: 480px;
}

.team-block {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  min-height: 280px;
}

.team-block h3 {
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: auto;
}

.application-block {
  background-color: var(--trans-white);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  font-family: var(--font-main);
  font-weight: 500;
  color: var(--brand-blue);
  gap: 10px;
  min-height: 280px;
}

.application-block span {
  font-size: 38px;
}

/* forms */

.thanks-page p {
  padding-right: 45%;
}

.form-description {
  padding-right: 35%;
}

.form-title-container {
  margin: 6px 0;
  display: flex;
  justify-content: space-between;
}

.page-indicator {
  display: flex;
  align-items: flex-end;
  padding-bottom: 4px;
  font-size: 18px;
}

/* .form {
  height: 500px;
  display: flex;
  flex-direction: column;
} */

.form-page {
  background-color: var(--trans-white);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  gap: 35px;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  height: 430px;
  position: relative;
}

.half-input {
  width: 45%;
}

.full-input {
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
  height: 60%;
}

.full-input,
.half-input,
textarea {
  border-radius: 10px;
  background-color: white;
  padding: 8px 16px;
  border: transparent;
  font: var(--body-copy);
}

.form-button-container {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  margin-top: 100px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  left: 30px;
}

/* footer */

footer {
  background-color: var(--brand-blue);
  color: var(--trans-white);
  padding: 60px 0;
}

footer a {
  color: var(--trans-white);
}

#footer-container {
  width: 100%;
  max-width: 1050px;
  padding: 0 50px;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr 1fr / 1fr 70px;
  row-gap: 30px;
}

#footer-nav {
  grid-area: 1 / 1 / 2 / 2;
}

#footer-nav ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.org-info {
  grid-area: 2/1/2/2;
  font-size: 0.8em;
  line-height: 1.2;
}

#footer-logo {
  width: 50px;
  grid-row: 1 / 3;
  color: var(--trans-white);
}

/* buttons */
.btn {
  font: var(--button);
  padding: 10px 18px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--brand-blue);
  color: var(--trans-white);
  border: none;
}

.outlined {
  background-color: transparent;
  color: var(--brand-blue);
  outline: 3px solid var(--brand-blue);
  outline-offset: -3px;
  box-sizing: border-box;
}
